{% extends 'book/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/tokyo.jpg' %}">
        <div class="box-element product">

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/tokyo.jpg' %}">
        <div class="box-element product">

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/tokyo.jpg' %}">
        <div class="box-element product">

        </div>
    </div>
</div>
{% endblock content %}